<p style="color: green"><%= notice %></p>

<h1>My sets</h1>
<div style="text-align: right">  
<%= link_to "New set", new_card_set_path, class: "btn btn-primary" %>
</div>
<br>

<div id="card_sets">
  <% @card_sets.each do |card_set| %>
    <div class="d-grid gap-2">
    <%= link_to card_set.name, card_set_cards_path(card_set), class: "btn btn-success", type: "button" %>
    </div>
    <br>
  <% end %>
</div>

