<!DOCTYPE html>
<html>
<head>
    <title>EZmem!</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <style>
        body, html {
            height: 100%;
            width: 100%;
            margin: 0;
        }
        body {
            background-image: url('<%= asset_path('homepage.jpg') %>');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        h1 {
            color: #0d6efd;
            font-size: 48px;
            text-align: left;
            margin-top: 300px; 
            margin-left: -150px;
            display: flex;
        }
        .button-container {
            width: 100%;
            display: flex;
            justify-content: flex-end;
            padding-right: 200px; 
            
        }

         .btn {
            margin-left: 10px; /* Add space between buttons */
        }
    </style>
</head>
<body>
    <div class="h1">
        <h1 class="line-1 anim-typewriter"><b><i>Memorizing Made EZ...</i></b></h1>
    </div>

    <div class="button-container">
        <%= link_to "Sign up", new_user_registration_path, class: "btn btn-success btn-lg" %>
        <%= link_to "Try it out", card_sets_path, class: "btn btn-primary btn-lg" %>
    </div>

</body>
</html>