<br>
<h1 style="text-align: center;">&#127881;Success! Nice job&#128588;</h1>
<br>
<div class="text-center">
<%= link_to "Back to home", card_sets_path, class: "btn btn-primary" %> 
<%= link_to "Restart learn", learn_card_path(@card), class: "btn btn-success" %> 
</div>
