/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.card {
  padding: 1rem 2rem;
  max-width: 35rem;
  margin: 2rem auto;
}


#authentication {
  max-width: 20rem;
  margin: 2rem auto;
}

.breadcrumb {
  margin-top: 1rem;
}

.learn-card-text {
  max-width: 1296px;
  font-family: 'Lucida Sans Unicode', Arial, sans-serif;
  letter-spacing: 0.05rem;
}

/* Global */

.line-1{
    color: #0d6efd;
    width: 10.75em;
    border-right: 2px solid rgba(255,255,255,.75);
    white-space: nowrap;
    overflow: hidden;
    padding-bottom: 0.04em; /* Adds a bit of extra space below */
}

/* Animation */
.anim-typewriter{
  animation: typewriter 2s steps(22) 1s 1 normal both,
             blinkTextCursor 800ms steps(22) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 10.75;}
}
@keyframes blinkTextCursor{
  from{border-right-color: #0d6efd;}
  to{border-right-color: transparent;}
}

